*{
    font-family: roboto;
}

/* retour */

.retour{
	text-align: center;
	padding: 10px 0;
}

.retour a{
	color: black;
}

/* projets */

.table thead th{
    border-bottom: none;
}

.bouton{
    float: right;
    padding: 15px;
    border-radius: 5px;
    color: black;
}

.bouton:hover{
    text-decoration: none;
    color: white;
}

.modifier{
    background-color: lightblue;
}

.supprimer{
    background-color: lightcoral;
}

.modifier:hover{
    background-color: #007bff;
}

.supprimer:hover{
    background-color: #dc3545;
}